@model Product

@{
    Layout = "_AdminLayout";
}

<form asp-action="Edit" asp-controller="Admin" method="post">
    <input type="hidden" asp-for="ProductID" value="@Model.ProductID"/>
    <div class="form-group"> 
        <label class="form-control">Название</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div> 
    <div class="form-group"> 
        <label class="form-control">Категория</label>
        <input type="text" asp-for="Category" class="form-control" />
    </div> 
    <div class="form-group"> 
        <label class="form-control">Цена</label>
        <input type="text" asp-for="Price" class="form-control" />
    </div> 
    <div class="form-group"> 
        <label class="form-control">Описание</label>
        <textarea type="text" asp-for="Description" class="form-control" id="exampleFormControlTextarea1"></textarea>
    </div> 
    
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>